extends ../layout

block content
  h1= ' ADMIN: ' + title 


  form(action="/admin/creerEvent", method="POST")

    div
    label(for='type') Type:
    select(name='type')
        option(value='etudiant') Etudiant
        option(value='administrateur') Administrateur
        option(value='gestionnaire_iapau') Gestionnaire IAPAU
        option(value='gestionnaire_externe') Gestionnaire externe

    br

    div
      label(for="nom") Nom:
      input(type="text", id="nom", name="nom" required)
    
    br

    div
      label(for="prenom") Prenom:
      input(type="text", id="prenom", name="prenom" required)
    
    
    br

    div
      label(for="pseudo") Pseudo:
      input(type="text", id="pseudo", name="pseudo" required)
    
    br

    div
      label(for="email") E-mail:
      input(type="email", id="email", name="email" required)
    
    br

    div
      label(for="lien_linkedin") Lien LinkedIn:
      input(type="url" id="linkedin" name="linkedin" pattern="https://.*")

    br

    div
      label(for="github") Lien GitHub:
      input(type="url" id="github" name="github" pattern="https://.*")
    
    br

    div
      label(for="ville") Ville:
      input(type="text", id="ville", name="ville")
    
    br

    div
      label(for="ecole") Ecole:
      input(type="text", id="ecole", name="ecole" )
    
    br

    div
      label(for="codeEcole") Code postale de l'école:
      input(type="text" id="codeEcole" name="codeEcole" )
    
    br

    div
      label(for="niveau_etude") Niveau d'études:
      input(type="text" id="niveau_etude" name="niveau_etude" )

    br

    div
      label(for="entreprise") Entreprise:
      input(type="text" id="entreprise" name="entreprise" )

    br

    div
      label(for="metier") Métier:
      input(type="text" id="metier" name="metier" )

    br

    div
      label(for="role_asso") Rôle association:
      input(type="role_asso", id="role_asso", name="role_asso" )

    div
      label(for="password") Mot de passe:
      input(type="password", id="password", name="password" )

    div
      input(type="submit", value="Login")