extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="/connexion", method="POST")
    div
      label(for="idConnexion") E-mail/pseudo:
      input(type="idConnexion", id="idConnexion", name="idConnexion" required)
    
    br

    div
      label(for="password") Password:
      input(type="password", id="password", name="password" required)
    div
    input(type="submit", value="Login")
    

