extends layout

block content
  h1= title

  p PUBLIC
  a(href="/inscription") S'inscrire
  br
  br
  a(href="/connexion") Connexion
  br
  br
  a(href="/liste") Liste 
  br
  br
  a(href="/voir_event") Voir event
  br
  br
  p ADMINISTRATEUR
  a(href="/admin/creerUser") Créer user
  br
  br
  a(href="/admin/creerEvent") Créer Event


