extends layout

block content
  h1= title

  a(href="/inscription") S'inscrire
  br
  br
  a(href="/connexion") Connexion
  br
  br
  a(href="/admin/creerUser") Créer user
  br
  br
  a(href="/liste") Liste 
  br
  bra(href="/")


